.clearfix {
    &:before, &:after {
        display: table;
        content: " ";
    }

    &:after {
        clear: both;
    }
}

.test {
    font-size: 24px;
    line-height: 32px;
    color: #999;
}
