<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <title><%= title %></title>
    <meta name="keywords" content="<%= keywords %>">
    <meta name="description" content="<%= description %>">
    <meta content="telephone=no,email=no" name="format-detection">
    <link rel="icon" href="//www.meitu.com/favicon.ico" type="image/x-icon" />
    <script>
        ;(function (win, doc) {
            var docEl = doc.documentElement;
            var UA = navigator.userAgent;
            var refreshRemId = 0;
            var refreshRem = function () {
                refreshRemId && clearTimeout(refreshRemId);

                var w = docEl.getBoundingClientRect().width || 320;
                var fontSize = w / 375 * 100;

                fontSize = fontSize > 200 ? 200 : fontSize;
                docEl.style.fontSize = fontSize + 'px';

                // 好像小米或者美图手机会出现这个问题
                var finalFontSize = parseFloat(win.getComputedStyle(docEl).getPropertyValue('font-size'));

                if (finalFontSize !== fontSize) {
                    fontSize = fontSize + (fontSize - finalFontSize);
                    docEl.style.fontSize = fontSize + 'px';
                    win.fontSize = fontSize;
                }
            };
            win.addEventListener('resize', function () {
                refreshRemId = setTimeout(refreshRem, 100)
            }, false);
            win.addEventListener('pageshow', function (e) {
                if (e.persisted) {
                    refreshRemId = setTimeout(refreshRem, 100)
                }
            }, false);
            refreshRem();
        })(window, document);
    </script>
</head>
<body ontouchstart="">
<% contents.forEach((content) => { %>
    <%= content %>
<% }); %>
<% if (debug) { %>
<script src="//wechatfe.github.io/vconsole/lib/vconsole.min.js?v=3.3.0"></script>
<script>;(function () { return new VConsole(); })();</script>
<% } %>
</body>
</html>
