.clearfix {
    &:before, &:after {
        display: table;
        content: " ";
    }

    &:after {
        clear: both;
    }
}

.index {
    height: 80px;

    &-text {
        font-family: "source-han-sans-k-regular";
        font-size: 64px;
    }
}
