<div class="wrapper">
    <div class="index" id="js-index">
        <span>主页</span>
        <span class="index-text">1234567890</span>
    </div>
    <div style="height:1800px;"></div>
    <div>fjweofw </div>
</div>
