@import "~@/assets/styles/common.scss";

.pic-wrap {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.pic-list {
    padding: 10px 0 8px;
    margin-left: -16px;
    white-space: nowrap;
    font-size: 0;
    line-height: 1;
    overflow: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.pic::-webkit-scrollbar {
    display: none;
}

.pic-flag {
    position: absolute;
    right: 0;
    bottom: 8px;
    z-index: 1;
    padding: 8px 16px;
    background-color: rgba(0, 0, 0, .25);
    border-radius: 16px 0 0 0;
    font-size: 26px;
    color: #fff;
}

.pic-list {
    .pic-item {
        box-sizing: border-box;
        display: inline-block;
        width: 33.3333%;
        padding-left: 16px;
    }

    .img {
        position: relative;
        display: inline-block;
        width: 100%;
        padding-top: 100%;
        overflow: hidden;
    }

    img {
        position: absolute;
        left: 50%;
        top: 50%;
        display: block;
        width: 100%;
        height: auto;
        transform: translate(-50%, -50%);
    }
}
