<div class="c-pic-wrap" id="js-pic-wrap">
    <span class="c-pic-flag">9图</span>
    <div class="c-pic clearfix">
        <span class="plist">
            <span class="img J_previewImg" data-type="preview" data-row="0" data-index="0">
                <img src="https://dev-xl-1256638418.image.myqcloud.com/uploads/2019/11/08/ticket_xiakeshuo_15732063061237718.jpg?imageView2/1/w/540/h/540/q/75" alt="用户评论图片" />
            </span>
        </span>
        <span class="plist">
            <span class="img J_previewImg" data-type="preview" data-row="0" data-index="1">
                <img src="https://dev-xl-1256638418.image.myqcloud.com/uploads/2019/11/08/ticket_xiakeshuo_15732063061237718.jpg?imageView2/1/w/540/h/540/q/75" alt="用户评论图片" />
            </span>
        </span>
        <span class="plist">
            <span class="img J_previewImg" data-type="preview" data-row="0" data-index="2">
                <img src="https://dev-xl-1256638418.image.myqcloud.com/uploads/2019/11/08/ticket_xiakeshuo_15732063061237718.jpg?imageView2/1/w/540/h/540/q/75" alt="用户评论图片" />
            </span>
        </span>
        <span class="plist">
            <span class="img J_previewImg" data-type="preview" data-row="0" data-index="3">
                <img src="https://dev-xl-1256638418.image.myqcloud.com/uploads/2019/11/08/ticket_xiakeshuo_15732063061237718.jpg?imageView2/1/w/540/h/540/q/75" alt="用户评论图片" />
            </span>
        </span>
        <span class="plist">
            <span class="img J_previewImg" data-type="preview" data-row="0" data-index="4">
                <img src="https://dev-xl-1256638418.image.myqcloud.com/uploads/2019/11/08/ticket_xiakeshuo_15732063061237718.jpg?imageView2/1/w/540/h/540/q/75" alt="用户评论图片" />
            </span>
        </span>
    </div>
</div>
