@import "./normalize.scss";

html {
    // font-size: 100PX;
    // font-size: (100vw / 750) * 100;
}

body {
    width: 100%;
    max-width: 750PX;
    margin: 0 auto;
    // css-tricks font-family set
    font-family: -system-ui, -apple-system, BlinkMacSystemFont, "segoe ui", Roboto , Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
    font-size: 14px;
}
