@font-face {
    font-family: "source-han-sans-k-regular";
    src: url("../fonts/source-han-sans-k-regular.eot"); /* IE9 */
    src: url("../fonts/source-han-sans-k-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */

    url("../fonts/source-han-sans-k-regular.woff") format("woff"), /* chrome、firefox */
    url("../fonts/source-han-sans-k-regular.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */

    url("../fonts/source-han-sans-k-regular.svg#source-han-sans-k-regular") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


